/* Global */
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

h2, h3, h4 {
    color: #151414;
}

p {
    color: #444343;
}

.container {
    width: 80%;
    margin: auto;
}



/* Header Area start */
.header-bg {
    background-image: url(./images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 60vh;
    overflow: hidden;
    padding: 100px 0;
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.half-width {
    width: 40%;
    padding-right: 12%;
}

.half-width h2 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 14px;
    margin-bottom: 30px;
    padding-left: 10%
}

.contact-button {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: white;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Header Area end */



/* previous year area start */
.previous-year {
    padding: 100px 0;
}

.previous-year-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-left img {
    height: 650px;
}

.previous-right {
    width: 40%;
    overflow: hidden;
    padding-left: 7%;
}

.previous-right h3 {
    width: 70%;
    font-size: 40px;
    margin-bottom: 20px;
}

.previous-right p {
    font-size: 14px;
    line-height: 26px;
}

.previous-right ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #444343;
}

.previous-right ul li {
    margin-bottom: 10px;
}

.previous-right .list-icon {
    font-size: 18px;
    color: #16D887;
    margin-right: 5px;
}
/* previous year area end */



/* my plans area start */
.plans {
    padding-bottom: 50px;
}

.plans-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.plans h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.plans h4 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plans p {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    color: #737272;
    margin: 0;
}

.plans img {
    height: 80px;
}

.plans-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* my plans area end */



/* Call to action area start */
.cta {
    padding: 50px 0;
}

.cta-container {
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cta-content {
    padding-left: 5%;
}

.cta-content h3 {
    font-size: 30px;
    color: white;
}
/* Call to action area end */